{% extends 'base.html.twig' %}

{% block title %}
    Tous les articles
{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="bg-green-600 text-white px-4 py-2">{{ message }}</div>
    {% endfor %}
    <h1 class="text-4xl text-center">Tous les articles</h1>

    {% for picture in pictures %}
        <p>
            <a class="hover:underline" href="{{ path('picture_item', { id: picture.id }) }}">{{ picture.title }}</a>

        </p>
    {% endfor %}
{% endblock %}

