{% extends 'base.html.twig' %}

{% block title %}Bienvenue - Lana Karmaoui{% endblock %}



{% block body %}

<h1 class="text-6xl text-gray-800 my-24  mx-3 hover:animate-pulse">Bienvenue sur mon portfolio</h1>

<p class="tracking-widest text-gray-500 md:text-lg dark:text-gray-400 m-3">Flowbite app will help you improve yourself
    by analysing your everyday life.</p>


<div class="delay-[300ms] duration-[600ms] taos:translate-y-[200px] taos:opacity-0" data-taos-offset="300">
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4 m-3" data-taos-offset="400">
        <div class="grid gap-4">
            <div>
                <img class="h-auto max-w-full rounded-lg hover:scale-110 transition duration-500 cursor-pointer"
                     src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image.jpg" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg hover:scale-110 transition duration-500 cursor-pointer"
                     src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-1.jpg" alt="">
            </div>
            <div>
                <img class="h-auto max-w-full rounded-lg hover:scale-110 transition duration-500 cursor-pointer"
                     src="https://flowbite.s3.amazonaws.com/docs/gallery/masonry/image-2.jpg" alt="">
            </div>
        </div>

        {% endblock %}
