{% extends 'base.html.twig' %}

{% block title %}
Formulaire de contact
{% endblock %}

{% block body %}
    <h1 class="tracking-widest text-4xl text-lana m-3">Contact</h1>

    <div class="container mx-auto px-4">
        <div class="flex max-w-md mx-auto mt-8">
            {{ form(contactForm) }}
        </div>
    </div>
{% endblock %}

