<!DOCTYPE html>
<html class="scroll-smooth">
    <head>

        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <script src="https://emgithub.com/embed-v2.js?target=https%3A%2F%2Fgithub.com%2FLanaK-pro%2Fportfoliosymfony%2Fblob%2Fmaster%2Ftemplates%2Findex%2Findex.html.twig&style=base16%2Fdark-violet&type=code&showBorder=on&showLineNumbers=on&showFileMeta=on&showFullPath=on&showCopy=on"></script>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}


    </head>
    <body>
    {% block navbar %}
        {{ include('navbar.html.twig') }}
    {% endblock %}
        {% block body %}{% endblock %}
    </body>
</html>
