{% extends 'base.html.twig' %}

{% block title %}New Picture{% endblock %}

{% block body %}
    <h1>Create new Picture</h1>

    {{ include('picture_crud/_form.html.twig') }}

    <a href="{{ path('app_picture_crud_index') }}">back to list</a>
{% endblock %}
